.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.tooltip:hover .tooltip-text {
  opacity: 100%;
  z-index: 50;
}
.countbox:hover .countup {
  transform: translateX(10px);
  text-shadow: 0 0 1rem var(--accent);
}
.features:hover p {
  opacity: 100;
}